.personnel {
    height: 100%;
    width: 100%;
    background-color: #fff;
    border-radius: 8px;
    .header {

        background-color: #fff;
        border-top-left-radius: 8px;
        border-top-right-radius: 8px;
        padding: 2px 18px;
        height: 6%;
        border-top: none;
        border-left: none;
        border-right: none;
        border-bottom: none;
        display: flex;
        align-items: center;
        justify-content: flex-end;

        .title {
            font-weight: 700;
            font-size: 14px;
            color: #50535F;
        }

        .add-button {
            height: 24px;
            display: flex;
            align-items: center;
            justify-content: center;
            font-weight: 800;
            font-size: 12px;
            border-radius: 5px;
            background-color: #F26B0F;
            border: none;
        }
        
    }
}