.course {
    height: 100%;
    width: 100%;
    border: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    .crc-header {
        box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
        border-radius: 3px;
        overflow: auto;
        height: 10%;
        width: 100%;
        background-color: #fff;
        border: none;
        padding: 10px;

        .h-title {
            font-size: 16px;
            font-weight: 700;
        }

        .h-decription {
            font-size: 14px;
            font-weight: 600;
            color: #989898;
        }

        .search-input {
            display: flex;
            width: 310px;
            padding: 2px 8px 2px 25px;
            align-items: center;
            border-radius: 2px;
            background: #FFF;
            border: 1px solid #f6f6f6;
            box-shadow: 0px 0px 0px 1px rgb(104 113 130 / 27%), 0px 1px 2px 0px rgba(0, 0, 0, 0.06);
            color: #A5A5A5;
            font-weight: 600;
            font-size: 13px;

            &:focus-visible {
                outline: none;
            }

            &::placeholder {
                color: #A5A5A5;
                font-weight: 600;
                font-size: 13px;
            }
        }
    }

    .float-btn {
        box-shadow: #ff6700 0px 20px 30px -12px;
        height: 50px;
        width: 50px;
        background-color: #F26B0F;
        border: none;
        color: #fff;
        font-size: 30px;
        border-radius: 25px;
        display: flex;
        align-items: center;
        justify-content: center;
        position: absolute;
        bottom: 38px;
        right: 40px;
        z-index: 1;
    }
}

.addCourse-modal-content {
    overflow: auto;
    padding: 2px;

    .MC-field-label {
        font-size: 12px;
        font-weight: 700;
        color: #a9a9a9;
    }

    .MC-field-input {
        display: flex;
        width: 100%;
        padding: 10px 8px 10px 8px;
        align-items: center;
        border-radius: 6px;
        background: #FFF;
        border: 1px solid #f6f6f6;
        box-shadow: 0px 0px 0px 1px rgb(104 113 130 / 35%), 0px 1px 2px 0px rgb(0 0 0 / 3%);
        color: #666;
        font-weight: 600;
        font-size: 14px;

        &:focus-visible {
            outline: none;
        }

        &::placeholder {
            color: #A5A5A5;
            font-weight: 500;
            font-size: 13px;
            letter-spacing: 2px;
        }
    }

    .MC-field-tags {
        background-color: #e6f3ff;
        color: #2261b8;
        padding: 6px;
        border-radius: 10px;
        font-size: 12px;
        font-weight: 700;
        text-transform: capitalize;
        box-shadow: rgba(9, 30, 66, 0.25) 0px 1px 1px, rgba(9, 30, 66, 0.13) 0px 0px 1px 1px;
    }

    .rti--container {
        border: none !important;
        outline: none !important;
        padding: 0px !important;

        &:has(.rti--tag) {
            border: 1px solid #f6f6f6 !important;
            box-shadow: 0px 0px 0px 1px rgb(104 113 130 / 35%), 0px 1px 2px 0px rgb(0 0 0 / 3%);
            padding: 8px !important;
        }

        &:focus-within {
            border: 1px solid #f6f6f6;
            box-shadow: 0px 0px 0px 1px rgb(104 113 130 / 35%), 0px 1px 2px 0px rgb(0 0 0 / 3%);
        }
    }
}

.modal-90w {
    width: 38% !important;
    max-width: 38% !important;
}