.listBox-style {
    .button {
        height: 24px;
        width: 120px;
        background-color: #fff;
        border: 1px solid #e5e5e5;
        border-radius: 5px;
        outline: none;
        box-shadow: 0px 0px 0px 1px rgba(104, 113, 130, 0.16), 0px 1px 2px 0px rgba(0, 0, 0, 0.06);
        display: flex;
        align-items: center;
        justify-content: flex-start;
        font-size: 14px;
        font-weight: 400;
        color: #000;
        margin-right: 15px;

        .btn-text {
            font-size: 13px;
            font-weight: 700;
            color: #636363;
            text-align: start;
            text-overflow: ellipsis;
            white-space: nowrap;
            overflow: hidden;
            width: 95%;
        }
    }

    .active {
        background-color:#2663ba;
        cursor: pointer;
        border-radius: 8px;
        color: #fff;
    }

    .list-option {
        height: 200px;
        overflow: auto;
        background-color: #f6f6f6;
        border: 1px solid #eaeaea;
        border-radius: 5px;
        z-index: 1;
    }
}